# Visual Analytics - Text Mining Lord of the Rings Movie Scripts

In [1]:
# Setup
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import csv

In [2]:
# load data - https://www.kaggle.com/paultimothymooney/lord-of-the-rings-data
scripts = pd.read_csv('data/lotr_scripts.csv', index_col=0)
chars = pd.read_csv('data/lotr_characters.csv')

In [3]:
scripts.head(3)

,char,dialog,movie
0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in!",The Return of the King
2,DEAGOL,Arrghh!,The Return of the King

In [4]:
chars.head(3)

,birth,death,gender,hair,height,name,race,realm,spouse
0,NaN,NaN,Female,NaN,NaN,Adanel,Men,NaN,Belemir
1,TA 2978,"February 26 ,3019",Male,Dark (book) Light brown (movie),NaN,Boromir,Men,NaN,NaN
2,NaN,"March ,3019",Male,NaN,NaN,Lagduf,Orcs,NaN,NaN

In [33]:
# load books.txt https://github.com/tianyigu/Lord_of_the_ring_project/tree/master/LOTR_code/lotr_script_scripy/lotr
# read textfile
lotr1 = pd.read_csv('data/book1.txt', sep='\n', header=None)
lotr2 = pd.read_csv('data/book2.txt', sep='\n', header=None, quoting=csv.QUOTE_NONE)
lotr3 = pd.read_csv('data/book3.txt', sep='\n', header=None)

# change column name to 'text'
lotr1.columns = ['text']
lotr2.columns = ['text']
lotr3.columns = ['text']

In [34]:
# lotr1: remove foreword and contents
idx = lotr1[lotr1['text'].str.contains('\* PROLOGUE \*')].index  # find index of * PROLOGUE * in book1
lotr1 = lotr1.iloc[idx[0]:, :]  # remove everything before PROLOGUE

# lotr2: remove title
idx = lotr2[lotr2['text'].str.contains('\* BOOK III \*')].index  # find index of * PROLOGUE * in book1
lotr2 = lotr2.iloc[idx[0]:, :]  # remove everything before PROLOGUE

# lotr3: remove title
idx = lotr3[lotr3['text'].str.contains('\* BOOK V \*')].index  # find index of * PROLOGUE * in book1
lotr3 = lotr3.iloc[idx[0]:, :]  # remove everything before PROLOGUE

In [35]:
# combine books into one dataframe
lotr = pd.concat([lotr1, lotr2, lotr3]).reset_index(drop=True)

In [36]:
# Add book markers
lotr['book'] = lotr['text'].str.extract(r'(\* BOOK .* \*)', expand=False)
print(lotr['book'].unique())

# add chapter information
lotr['chapter'] = lotr['text'].str.extract('(Chapter .*)', expand=False)
chapters = pd.DataFrame(lotr['chapter'].unique())

[nan '* BOOK I *' '* BOOK II *' '* BOOK III *' '* BOOK IV *' '* BOOK V *'
 '* BOOK VI *']

In [42]:
lotr3['chapter'] = lotr3['text'].str.extract(r'(^Chapter .*)', expand=False)
chapters3 = pd.DataFrame(lotr3['chapter'].unique())